.label{
    background-color: gray;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

h1 {
    color: #33e5b5;
    text-align: center;
    font-family:Courier;
}

a {
    padding: 10px 15px;
    font-family:Courier;
}

/* unvisited link */
a:link {
    color: #33b5e5;
  }
  
  /* visited link */
a:visited {
    color: #33b5e5;
}
  
  /* mouse over link */
a:hover {
    color: #33e5b5;
    font-size: larger;
}
  
  /* selected link */
a:active {
    color: blue;
}


.page-table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 50px;
}

td {
    /* width: 33%; */
    height: 50px;
    text-align: right;
    font-family:Courier;
}

h2 {
    font-size: 30;
    text-align: center;
    font-family:Courier;
}

body {
    background-color: #eee;
}

.line {
    fill: none;
    stroke: #33e5b5;
    stroke-width: 2;
  }

.tooltip {
    pointer-events: none !important;
}

.text {
    font-family: Courier;
}

.float-left-child {
    float: left;
    width: 50%;
    cursor: crosshair;
}

.player-table {
    background-color: #ddd;
    width: 50%;
    text-align: center;
    table-layout: fixed;
}

.saved {
    background-color: #eac3c1;
    width: 90%;
    margin-left: 5%;
    position: absolute;
    text-align: left;
    table-layout: fixed;
    top: 500px;
}

.saved-header {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    cursor: pointer;
}

.saved-player {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

.player-cell {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

.parent {
    width: 100%;
}


