.label{
    background-color: gray;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

h1 {
    color: #33e5b5;
    text-align: center;
    font-family:Courier;
}

a {
    padding: 10px 15px;
    font-family:Courier;
}

/* unvisited link */
a:link {
    color: #33b5e5;
  }
  
  /* visited link */
a:visited {
    color: #33b5e5;
}
  
  /* mouse over link */
a:hover {
    color: #33e5b5;
    font-size: larger;
}
  
  /* selected link */
a:active {
    color: blue;
}


table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

td {
    width: 30%;
    height: 50px;
    text-align: center;
    font-family:Courier;
}

h2 {
    font-size: 30;
    text-align: center;
    font-family:Courier;
}

body {
    background-color: #eee;
}

.line {
    fill: none;
    stroke: #33e5b5;
    stroke-width: 2;
  }

.tooltip {
    pointer-events: none !important;
}

.text {
    font-family: Courier;
}

