.label{
    background-color: gray;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

h1 {
    color: #64CFA8;
    text-align: center;
    font-family:Courier;
}

a {
    padding: 10px 15px;
    font-family:Courier;
}

/* unvisited link */
a:link {
    color: #33b5e5;
  }
  
  /* visited link */
a:visited {
    color: #33b5e5;
}
  
  /* mouse over link */
a:hover {
    color: #33e5b5;
    font-size: larger;
}
  
  /* selected link */
a:active {
    color: blue;
}


.page-table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 50px;
}

td {
    /* width: 33%; */
    height: 50px;
    text-align: right;
    font-family:Courier;
}

h2 {
    font-size: 30;
    text-align: center;
    font-family:Courier;
}

body {
    background-color: #eee;
}

.line {
    fill: none;
    /* stroke: #64CFA8; */
    stroke: #33e5b5;
    stroke-width: 2;
  }

.tooltip {
    pointer-events: none !important;
}

.text {
    font-family: Courier;
}

.oldsvg {
    cursor: crosshair;
    z-index: 1;
    float: left;
    width: 50%;
}

.player-table {
    position: relative;
    background-color: #ddd;
    /* opacity: 0.5; */
    /* border-color: palegreen;
    border-style: double; */
    float: left;
    width: 40%;
    margin-top: 10px;
    margin-left: 10px;
    height: max-content;
    text-align: center;
    table-layout: fixed;
}

.full-page {
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100vh;
    width: 100vw;
}

.saved-table {
    background-color: #ddd;
    width: 90%;
    margin-left: 5%;
    position: relative;
    text-align: left;
    table-layout: fixed;
    top: 10px;
}

.show {
    position: relative;
    top: 0px;
    left: 10px;
}

.saved-header {
    /* background-color: #FFC4EB; */
    background-color: #33b5e5;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
}

.saved-player.row {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.saved-player.row.odd {
    background-color: #F1F2EB;
    
}
.saved-player.row.even {
    background-color: #D8DAD3;
}

.saved-player.cell {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

.saved-player.cell.odd {
    text-shadow: dimgray;
}
.saved-player.cell.even {
    text-shadow: dimgray;
}

.player-cell {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}
.player-cell.header {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.highlighted{
    fill: #33e5b5
}

.player-row.header{
    background-color: #13294B;
}

.player-row.odd{
    background-color: #F1F2EB;
}

.player-row.even {
background-color: #D8DAD3;
}

.interact {
    width: 100%;
    position: relative;
    top: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.rank-input {
    width: 40px;
}

ul {
    position: absolute;
    overflow: scroll;
    max-height: 80px;
    z-index: 50;
    list-style: none;
    left: 40px;
    width: 15%;
}

::-webkit-scrollbar{
    display: none;
}

.data-table {
    position: relative;
    bottom: 10px;
}

.search-player {
    font-family: Courier;
    font-size: 10;
    white-space: nowrap;
    cursor: pointer;
}
